.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, 200px);
  grid-gap: 10px;
  padding: 16px 0;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* One Image */
.grid-1 {
  grid-column: span 4;
  grid-row: span 2;
}
/* Two Images */
.grid-2 {
  grid-column: span 2;
  grid-row: span 2;
}

/* Three Images */
img:first-of-type.grid-3,
.grid div:nth-child(1).grid-3 {
  grid-column: span 2;
  grid-row: span 2;
}

img:nth-of-type(2).grid-3,
.grid div:nth-child(2).grid-3 {
  grid-column: span 2;
  grid-row: span 1;
}

img:nth-of-type(3).grid-3,
.grid div:nth-child(3).grid-3 {
  grid-column: span 2;
  grid-row: span 1;
}

/* Four Images */
img:first-of-type.grid-4,
div:first-of-type.grid-4 {
  grid-column: span 2;
  grid-row: span 2;
}

img:nth-of-type(2).grid-4,
div:nth-of-type(2).grid-4 {
  grid-column: span 2;
  grid-row: span 1;
}

img:nth-of-type(3).grid-4,
div:nth-of-type(3).grid-4 {
  grid-column: span 1;
  grid-row: span 1;
}

img:nth-of-type(4).grid-4,
div:nth-of-type(4).grid-4 {
  grid-column: span 1;
  grid-row: span 1;
}

/* Media Q's - grid*/
@media (max-width: 575.98px) {
  .grid {
    grid-auto-rows: minmax(100px, 100px);
    grid-gap: 5px;
    margin: 0 -15px;
  }
}

/* My Colors */
.text-grey {
  color: #ddd;
}

.bg-ccc {
  background-color: #ccc;
}

.background {
  background-color: #6c757d;
}

/* change modal border */
.my-color .modal-content {
  border-radius: 0px;
  border: 1px solid #fff;
}

.my-border {
  border-bottom: 1px solid #6c757d;
}
.my-border:last-child {
  border-bottom: none;
}

body,
p {
  font-family: "Montserrat";
}

.navbar.navbar-light .navbar-toggler {
  border: none;
}

/* banner */
.banner {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.banner.about {
  height: 200px;
}

.home-logo-font {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.home-logo {
  width: 50vw;
  max-width: 500px;
}

/* --- media q's font --- */
@media (max-width: 425px) {
  .home-logo {
    width: 80vw;
  }
}

@media (max-width: 575.98px) {
  body,
  .btn {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-brand img {
    height: 30px;
  }

  .banner {
    height: 200px;
  }

  .banner.about {
    height: 100px;
  }
}

@media (min-width: 1400px) {
  .my-footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
